.indexArea {
  flex-grow: 1;
  padding: 32px 32px 0 16px;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.indexTitle {
  font-size: 3.2rem;
  line-height: 1.3;
}

.uploadBtnText {
  padding: 0 16px;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
}

.masonry::after {
  content: '';
  flex-grow: 999999999;
}

.masonItem {
  margin: 0 24px 56px 0;
  position: relative;
}

.masonItem > i {
  display: block;
}
