.design {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 8px rgba(14,19,24,.07);
  position: relative;
}

.elementsContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.selected {
  pointer-events: none;
  position: absolute;
  z-index: 99;
  border: 2px solid aqua;
}
