.elementsDrawer {
  width: 312px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 24px;
}

.itemList {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 100px;
  height: 100px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  background-color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  margin-top: 16px;
}

.searchInput svg {
  width: 40px;
}

.inputIcon {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  padding-left: 4px;
  font-size: 1.4rem;
}