$dark-grey: #5a5a5a;
$more-grey: #777777;
$grey: #949494;
$less-grey: #aaaaaa;
$light-grey: #dcdcdc;
$lighter-grey: #eeeeee;
$white: #ffffff;

$blue: #00c9d0;
$light-blue: #00dde5;


button {
  height: 40px;
  min-width: 40px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: .01rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  border: 2px solid transparent;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.5s, background-color 0.5s;
}

.btn-none {
  border: 0px solid transparent;
  padding: 0;
  min-width: auto;
  height: auto;
  transition: color 0.5s;
  background-color: transparent;
}

.btn-none:hover {
  color: $grey;
}

.btn-none:active {
  background-color: inherit;
}

button:hover {
  border-color: $grey;
  cursor: pointer;
}

button:active {
  background-color: $light-grey;
}

.btn-width {
  min-width: 80px;
}

.btn-outline {
  color: $dark-grey;
  border: 2px solid $light-grey;
}

.btn-blue {
  background-color: $blue;
  border-color: transparent;
  color: $white;
}

.btn-blue:hover {
  background-color: $light-blue;
  border-color: transparent;
  color: $white;
}

button svg{
  font-size: 2rem;
}

.btn-icon:hover {
  background-color: $lighter-grey;
  border-color: transparent;
}

.btn-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $less-grey;
  background-color: inherit;
  font-size: 1rem;
  width: 72px;
  height: 72px;
  line-height: 2rem;
}

.btn-tools svg {
  font-size: 2.2rem;
}

.btn-tools:hover {
  color: $lighter-grey;
  border-color: transparent;
}

.btn-tools:active {
  color: $lighter-grey;
  background-color: transparent;
  border-color: transparent;
}

.btn-tools.active {
  color: $lighter-grey;
}

.btn-color {
  border: 1px solid $light-grey;
  border-radius: 4px;
  height: 24px;
  min-width: 24px;
  box-sizing: border-box;
}

.active-route span{
  font-weight: 700;
}

.active-route {
  background-color: $lighter-grey;
}

.btn-index {
  font-weight: 400;
}

.btn-index:hover {
  border-color: transparent;
  background-color: $lighter-grey;
}

.btn-item {
  height: 32px;
  min-width: 32px;
  background-color: $more-grey;
  transition: all 0.2s;
  color: white;
  padding: 2px;
}

.btn-item:hover {
  background-color: $blue;
  border-color: transparent;
}