html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #0e1318;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

